* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
  }
  
  .profile-card {
    width: 480px;
    max-width: calc(100vw - 10px);
  }
  
  .head, .content {
    width: 100%;
    margin: 0 auto;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('assets/background-image.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: "Raleway";
  }
  
  .head, .links {
    text-align: center;
  }
  
  img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 1px;
    background-color: #666;
  }
  
  .profile-image {
    margin-top: -60px;
  }
  
  /* Contact links */
  
  ul {
    list-style-type: none;
  }
  
  li {
    display: inline;
  }
  
  .head, .about {
    margin-bottom: 4%;
  }
  
  .content {
    padding: 5% 10%;
    border-top: 1px solid hsla(0, 0%, 30%, .8);
  }
  
  .profile-card {
    background-color: hsla(0, 0%, 100%, .5);
    border-radius: 4px;
    box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  }

  .github-icon, .linkedin-icon, .facebook-icon {
    transition: 0.5s ease-out;
    padding: 1.5%;
  }

  .github-icon:hover {
    font-size: 1.2em;
  }

  .linkedin-icon:hover {
    font-size: 1.2em;
  }

  .facebook-icon:hover {
    font-size: 1.2em;
  }


